.AboutPage-title, .AboutPage-abstract {
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.AboutPage-title {
    text-align: center;
}

.AboutPage-abstract-concepts {
    padding-left: 4em;
}

.AboutPage-abstract-passage {
    padding-left: 2em;
    padding-right: 2em;
}