* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color:rgb(0, 0, 0);
}

.nav {
    background-color:rgb(7, 37, 7);
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav #Icon {
  grid-column: 1 / 2;
  justify-self: start;
  padding-left: 2em;
}

.logo {
    width: 100px;
    height: 100px;
}

.site-title {
    width: 100%;
    font-size: 2rem;
    color:rgb(0, 180, 9);
    padding-left: 1rem;
    text-decoration: underline;
    text-decoration-color: green;
    text-underline-offset: 10px;
}

.nav ul {
    grid-column: 2 / 3;
    justify-self: end;
    padding-right: 5em;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px
}

.home {
    color: white;
}

.characters {
    color: white;
}

.help{
    color: white;
}

.about{
    color: white;
}

.nav li.active {
    color: white;  
}
